.card-container {
  background: #b4b4b4;
  border-radius: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem;
  background-color: rgb(243, 244, 246);
}

.card-container .avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 0 auto;
}

.card-container .info-container {
  padding-top: 1.5rem;
  text-align: center;
}

.card-container .info-container > * ~ * {
  margin-top: 1rem;
}

.card-container .info-container .summary {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.card-container .info-container .personal-info {
  font-weight: 500;
  text-align: left;
}

.card-container .info-container .personal-info .name {
  color: rgb(220, 38, 38);
}

.card-container .info-container .personal-info .position {
  color: rgb(107, 114, 128);
}
